{{##def.page_title = 'Withdraw History' #}}
{{##def.content:
    {{?it.withdraws.length > 0}}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>User</td>
                    <td>Bnbs</td>
                    <td>Transaction</td>
                    <td>Status</td>
                    <td class="show-for-medium-up">Created</td>
                </tr>
            </thead>
            <tbody>
                {{~it.withdraws :withdraw:index}}
                    <tr>
                        <td>{{=withdraw.username}}</td>
                        <td>{{#def.format: {n: withdraw.amount, decimals: 2 } }}</td>
                        <td><a href="https://bscscan.com/tx/{{=withdraw.bitcoin_withdrawal_txid}}" target="_blank">{{=withdraw.bitcoin_withdrawal_txid}}</a></td>
                        <td>
                            {{?withdraw.status == 1}}
                                Success
                            {{??}}
                                In progress
                            {{?}}
                        </td>
                        <td class="show-for-medium-up">{{=withdraw.created}}</td>
                        
                    </tr>
                {{~}}
            </tbody>
        </table>
    {{??}}
        <p>Don't have withdraws</p>
    {{?}}
#}}
{{#def.include('../template/public')}}