.loading-image {
    background-size: 150px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    background-image: url(../img/loading-white.gif);
}
