{{##def.page_title = '401' #}}
{{##def.content:
<div class="content">
  <div class="error-page">
    <h2 class="headline text-warning"> 401</h2>
    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-warning"></i> You are not authorized to see this.</h3>

      <a class="btn btn-primary" href="/login">Please login and try it again</a>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.content -->
#}}
{{#def.include('./template/authenticate')}}