{{##def.page_title = '404' #}}
{{##def.content:
<div class="content">
  <div class="error-page">
    <h2 class="headline text-warning"> 404</h2>
    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-warning"></i> The page you are looking for doesn't exist...</h3>

      <a class="btn btn-primary" href="/">Go Home</a>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.content -->
#}}
{{#def.include('./template/authenticate')}}