{{##def.page_title = 'Error' #}} 
{{##def.content:
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h4>Something bad happened. My humans are working to fix this mess, please come back later...</h4>
        <br/>
        {{?it.error}}
        <h6>Error: {{=it.error}}</h6>
        {{?}}
      </div>
    </div>
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.content -->
#}} 
{{#def.include('./template/authenticate')}}


