{{##def.page_title = 'Forgot Password' #}}
{{##def.content:
<script>
	function enableSubmit() {
		$('#forgotSubmit').prop("disabled", false);
	}
</script>
<div class="login-page">
	<div class="login-box">
		<div class="card">
			<div class="card-body login-card-body">
				<form action="/sent-recover" method="post">
					<div class="input-group mb-3">
						<input type="email" class="form-control" name="email" placeholder="Email">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="row d-flex justify-content-center mb-3">
						<div class="g-recaptcha" data-sitekey="{{=it.recaptchaKey}}" data-callback="enableSubmit">
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<button type="submit" id="forgotSubmit" class="btn btn-primary btn-block" disabled>Submit</button>
                            <p class="mb-1 text-center">
                                <a href="/login">Sign in</a>
                            </p>
						</div>
						<!-- /.col -->
					</div>
				</form>
			</div>
			<!-- /.login-card-body -->
		</div>
	</div>
</div>
<!-- /.content -->
#}}
{{#def.include('./template/authenticate')}}