{{##def.page_title = 'The Social Binance coin Gambling Game' #}}
{{##def.content:
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">The Social Game</h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the
      creator, etc. Make it short and sweet, but not too short so folks don't
      simply skip over it entirely.
    </p>
    <p>
      <a href="/play" class="btn btn-primary btn-block"> Play Now! </a>
    </p>
  </div>
</section>
<div class="row text-center">
  <div class="col-lg-3">
    <div>
      <img src="img/icons/dart.png" width="100" height="100" alt="" />
    </div>
    <h4>99% Luck<br />&nbsp;1% Skill</h4>
    <p class="text">
      Play for fun! Or play to win! <br />
      <a href="/guide">See strategy guide</a>
    </p>
  </div>
  <div class="col-lg-3">
    <div>
      <img src="img/icons/chart.png" width="100" height="100" alt="" />
    </div>
    <h4>Real Time</h4>
    <p class="text">
      Watch your fortune rise<br />
      in real time!
    </p>
  </div>
  <div class="col-lg-3">
    <div>
      <img src="img/icons/secure.png" width="100" height="100" alt="" />
    </div>
    <h4>Secure</h4>
    <p class="text">
      Offline storage<br />
      <a href="faq#fair">Provably fair</a><br />
      Razor thin <a href="faq#odds">house edge</a> (between 0 and 1%)
    </p>
  </div>
  <div class="col-lg-3">
    <div>
      <img src="img/icons/multiplayer.png" width="100" height="100" alt="" />
    </div>
    <h4>Social</h4>
    <p class="text">
      Play with friends<br />
      and beat your foes
    </p>
  </div>
</div>
<div class="jumbotron">
  <h1 class="jumbotron-heading text-dark">
    What is <span class="primary-color">Bnbbest?</span>
  </h1>
  <p class="text-body lead">
    Bnbbest.io is the most established and largest gambling game for BNB.
    Based on Bustabit and provably fair with a low house edge. You can deposit
    with Bnb, give it a try today!
  </p>
</div>

<div class="row text-center">
  <div class="col-lg-6">
    <h4>Deposit commissions</h4>
    <p> When remain > 500,000 bnbs you will get:</p>
    <table class="table table-bordered table-sm">
      <tbody>
          <tr>
            <td>F</td>
            <td>Commissions</td>
          </tr>
          <tr>
            <td>1</td>
            <td>1%<br></td>
          </tr>
          <tr>
            <td>2</td>
            <td>0.5%<br></td>
          </tr>
          <tr>
            <td>3</td>
            <td>0.25%<br></td>
          </tr>
          <tr>
            <td>4</td>
            <td>0.125%<br></td>
          </tr>
          <tr>
            <td>5</td>
            <td>0.0625%<br></td>
          </tr>
          <tr>
            <td>6</td>
            <td>0.03125%<br></td>
          </tr>
          <tr>
            <td>7</td>
            <td>0.016525%<br></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
    <h4>Bet commissions</h4>
    <p> When remain > 500,000 bnbs you will get:</p>
    <table class="table table-bordered  table-sm">
      <tbody>
          <tr>
            <td>F</td>
            <td>Commissions</td>
          </tr>
          <tr>
            <td>1</td>
            <td>0.16%<br></td>
          </tr>
          <tr>
            <td>2</td>
            <td>0.13%<br></td>
          </tr>
          <tr>
            <td>3</td>
            <td>0.1%<br></td>
          </tr>
          <tr>
            <td>4</td>
            <td>0.07%<br></td>
          </tr>
          <tr>
            <td>5</td>
            <td>0.04%<br></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row text-center">
  <div class="col-lg-6">
    <h2 class="display-5">Provably Fair</h2>
    <p class="lead">
      Bnbbest's outcome can be proven as fair. There are third party scripts you
      can use to verify the game hashes and calculate the results.
    </p>
  </div>
  <div class="col-lg-6">
    <h2 class="display-5">How it Works:</h2>
    <p class="lead">
      Every game starts from 0x and counts up, you can watch your wager amount
      being multiplied in your bet area and choose to cash out at anytime but
      beware if you wait too long it can crash and you will lose your entire
      bet.
    </p>
  </div>
</div>
#}} {{#def.include('./template/authenticate')}}
