{{##def.page_title = 'Withdraw Request' #}}
{{##def.content:

<div class="content">
    <div class="container-fluid">
        <h4>Request A Withdrawal</h4>
        <p class="small">
            **The minimum amount for a withdrawal is 25000 bnbs. You will receive less than what you withdraw,
            as we use that 2% to go towards mining fee. As required, we will as well chip in
            with our money to
            help expedite confirmation time.
        </p>

        <p>
            <strong>Note:</strong> Your withdrawal will be sent from the hot wallet, do not withdraw to any site
            that uses the sending address, or returns to sender, because any returns will probably be credited to a
            different player.
        </p>
        <form action="/withdraw/request" method="post">
            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered" />
            <input style="display:none" type="password" name="fakepasswordremembered" />

            <div class="form-group">
                <label for="exampleInputEmail1">Bnbs amount</label>
                <input class="form-control" type="number" id="amount" name="amount" placeholder="Amount" step="1" required />
                <p id="infoArea">
                    Fee:<span id="feeTotal"></span><br />
                    <b>Receive money:<span id="amountTotal"></span> = <span id="amountTotalBnb"></span>BNB</b>
                </p>
            </div>
            
            <div class="form-group">
                <label for="exampleInputEmail1">Destination Address</label>
                <input class="form-control" type="text" id="destination" name="destination" required />
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Your password</label>
                <input class="form-control" type="password" id="password" name="password" autocomplete="off" />
            </div>
            
            {{?it.user.is_otp}}
            <div class="form-group">
                <label for="exampleInputEmail1">2FA Code</label>
                <input class="form-control" type="text" id="otp" name="otp" autocomplete="off" pattern="[0-9]{6}" required />
            </div>
            {{?}}
            <input type="hidden" name="withdrawal_id" value="{{= it.id}}" />
            <a href="/withdraw" class="btn btn-primary">Back</a>
            <input class="btn btn-primary" type="submit" />
        </form>
    </div>
    <!-- /.col-md-12 -->
</div>
<!-- /.content -->

<script>
    function calc(){
        var amount = $("input[name='amount']").val();
        if(amount){
            $("#infoArea").show();
            $("#feeTotal").html(amount*0.02);
            $("#amountTotal").html(amount - amount*0.02);
            $("#amountTotalBnb").html((amount - amount*0.02)/1000000);
        }else{
            $("#infoArea").hide();
        }

    }
    $("input[name='amount']").change(calc);
    calc();
</script>
#}}
{{#def.include('./template/public')}}