
{{##def.page_title = 'Withdraw' #}}
{{##def.content:

<div class="content">
    <div class="container-fluid">
        <a class="btn btn-primary" href="/withdraw/request">Request Withdraw</a>
        {{?it.user.withdrawals.length > 0}}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Bnbs</td>
                        <td>Destination Address</td>
                        <td>Status</td>
                        <td class="show-for-large-up">Created</td>

                    </tr>
                </thead>
                <tbody>
                    {{~it.user.withdrawals :withdrawal:index}}
                        <tr>
                            <td>{{#def.format: {n: withdrawal.amount, decimals: 2 } }}</td>
                            <td>{{=withdrawal.destination}} 
                            </td>
                            <td>
                                {{?withdrawal.status == 1}}
                                    <a href="https://bscscan.com/tx/{{=withdrawal.bitcoin_withdrawal_txid}}" target="_blank">Success</a>
                                {{??}}
                                    In progress
                                {{?}}
                            </td>
                            <td class="show-for-large-up">{{=withdrawal.created}}</td>
                        </tr>
                    {{~}}
                </tbody>
            </table>
        {{??}}
            <p>You have no withdrawals in your account.</p>
        {{?}}
    </div>
    <!-- /.col-md-12 -->
</div>
<!-- /.content -->
#}}
{{#def.include('./template/public')}}
